Repository tremtec/tremtec.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

"src/**/*.{js,jsx,ts,tsx}":
  - eslint --fix
  - git add
"*.{json,yaml,css,md}":
  - prettier --write
  - git add

fea: move texts to settings
  README.md
  src/components/CallToActionSection.tsx
  src/components/ContactSection.tsx
  src/components/ServiceSection.tsx
  src/root.tsx
  src/settings.tsx
Due: eslint --fix, prettier --write

enh: add links for page
  src/components/CallToActionSection.tsx
  src/components/ContactSection.tsx
  src/components/ServiceSection.tsx
  src/root.tsx
  src/settings.tsx
Due: eslint --fix

fix: update service section
  src/components/ServiceSection.tsx
Due: eslint --fix

fea: setup vitest 🚀
  package.json
  pnpm-lock.yaml
  src/root.test.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

enh: setup @solidjs/testing-library
  package.json
  pnpm-lock.yaml
  src/components/shared.test.tsx
  src/root.test.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

enh: setup hook for running tests
  .husky/pre-push
  package.json
Due: prettier --write

enh: add tests for containers
  src/components/shared.test.tsx
Due: eslint --fix

enh: add tests for icons
  src/components/icons.test.tsx
  src/components/icons.tsx
Due: eslint --fix

oth: check readme
  README.md
Due: prettier --write

fix: move deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix: typo
  src/settings.tsx
Due: eslint --fix

oth: update readme
  README.md
Due: prettier --write

fea: add nav links
  src/root.tsx
  src/shared/settings.ts
Due: eslint --fix

fea: setup config
  .env.gpg
  .gitignore
  package.json
  src/settings.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

fea: integrate with builder.io
  package.json
  pnpm-lock.yaml
  src/components/ContactSection.tsx
  src/routes/index.tsx
  src/services/builder-io.tsx
Due: eslint --fix, prettier --write

enh: fix env issue
  .env.gpg
  src/services/builder-io.tsx
  src/settings.tsx
Due: eslint --fix

fea: setup daisyui
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: prettier --write

fea: register contact section
  src/components/ContactSection.tsx
  src/services/builder-io.tsx
Due: eslint --fix

fea: add error + success handlers
  package.json
  pnpm-lock.yaml
  src/components/ContactSection.tsx
  src/settings.tsx
  src/shared/utils.ts
Due: eslint --fix, prettier --write

fix: styles
  src/components/shared.tsx
  src/root.tsx
  src/services/builder-io.tsx
  tailwind.config.cjs
Due: eslint --fix

fea: share tt logo
  src/components/shared.tsx
  src/root.tsx
  src/services/builder-io.tsx
Due: eslint --fix

initial commit
  .gitignore
  README.md
  app.config.ts
  bun.lockb
  package.json
  postcss.config.cjs
  public/favicon.ico
  src/app.css
  src/app.tsx
  src/components/Counter.tsx
  src/components/Nav.tsx
  src/entry-client.tsx
  src/entry-server.tsx
  src/global.d.ts
  src/routes/[...404].tsx
  src/routes/about.tsx
  src/routes/index.tsx
  tailwind.config.cjs
  tsconfig.json
Due: eslint --fix, prettier --write

Updated styles and tokens
  borders.css
  colors.css
  gradients.css
  index.css
  measures.css
  shadows.css
  tailwind-variables.js
  typography.css
Due: prettier --write

Updated styles and tokens
  styles/borders.css
  styles/colors.css
  styles/gradients.css
  styles/index.css
  styles/measures.css
  styles/shadows.css
  styles/tailwind-variables.js
  styles/typography.css
Due: prettier --write

enh: setup initial cloudflare app
  .gitignore
  .vscode/settings.json
  app.config.ts
  biome.json
  borders.css
  bun.lock
  bun.lockb
  colors.css
  gradients.css
  index.css
  measures.css
  package.json
  postcss.config.cjs
  shadows.css
  src/app.css
  src/app.tsx
  src/components/Counter.tsx
  src/components/Nav.tsx
  src/routes/[...404].tsx
  src/routes/about.tsx
  src/routes/index.tsx
  styles/borders.css
  styles/colors.css
  styles/gradients.css
  styles/index.css
  styles/measures.css
  styles/shadows.css
  styles/tailwind-variables.js
  styles/typography.css
  tailwind-variables.js
  tailwind.config.cjs
  tsconfig.json
  typography.css
  wrangler.toml
Due: eslint --fix, prettier --write

fix: linting issues
  biome.json
  package.json
  src/components/Counter.tsx
  src/components/Nav.tsx
  src/entry-client.tsx
  src/routes/[...404].tsx
  src/routes/about.tsx
  src/routes/index.tsx
Due: eslint --fix, prettier --write

enh: improve readme
  README.md
Due: prettier --write

enh: customize pages with deepseek
  src/app.tsx
  src/components/Counter.tsx
  src/components/Logo.tsx
  src/components/Nav.tsx
  src/routes/about.tsx
  src/routes/index.tsx
Due: eslint --fix

fea: setup lefthook
  bun.lock
  lefthook.yml
  package.json
Due: prettier --write

enh: cleanup lefthook
  lefthook.yml
Due: none

enh: run lefthook post install
  lefthook.yml
  package.json
Due: prettier --write

fea: setup lint-staged
  bun.lock
  lefthook.yml
  package.json
Due: prettier --write

fea: setup default meta tags
  public/favicon.ico
  src/entry-server.tsx
Due: eslint --fix

enh: add @solidjs/head to manager custom metatags
  bun.lock
  package.json
Due: prettier --write

fea: setup page title per page
  src/app.tsx
  src/entry-server.tsx
  src/routes/about.tsx
  src/routes/index.tsx
Due: eslint --fix
